################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/LinqExtend
/.vs/LinqExtend/v17
/.vs/ProjectEvaluation
/*/obj
/*/bin
/LinqExtend.Standard/LinqExtend.Standard.xml
/LinqExtend.EFTest/Migrations
